body {
  background-color: #f5f3ea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Clear Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 30px;
  line-height: 0.8;
  color: #776E65;
  margin: 5px 0;
}

.container {
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 100%;
  max-height: 40%; /* Reduced max-height */
  background-color: #BBADA0;
  border: 7px solid #BBADA0;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
}

.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px; /* Reduced width */
  height: 70px; /* Reduced height */
  margin: 5px;
  border-radius: 10px;
  background-color: #EEE4DA;
  color: #776E65;
  font-weight: bold;
  font-size: 22px; /* Reduced font size */
  line-height: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.result-container {
  text-align: center;
  margin: auto;
}

.result-text {
  font-size: 18px;
  color: #4CAF50;
  margin-top: 10px;
  display: block;
}

.highlight {
  color: #FF5722;
}

.score-container {
  display: flex;
  justify-content: flex-start; /* Aligned to the left */
  align-items: center;
  margin-top: 5px;
  color: #FF5722; /* Added color to score container */
  border: 2px solid #FF5722; /* Added border */
  background-color: #f5f3ea; /* Added background color */
  padding: 8px; /* Added padding for spacing */
}

.score-title {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#score {
  font-size: 25px;
}

#restart-button {
  background-color: #C82333; /* Changed button color to red */
  color: white;
  border: none;
  padding: 10px 12px; /* Reduced padding for smaller height */
  border-radius: 5px;
  font-size: 18px; /* Reduced font size */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#restart-button:hover {
  background-color: #9C0D00; /* Darker red color on hover */
}
