body {
  background-color: #f5f3ea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Clear Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 48px;
  line-height: 0.8;
  color: #776E65;
  margin: 10px 0;
}

.container {
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 100%;
  background-color: #BBADA0;
  border: 7px solid #BBADA0;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}

.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 5px;
  border-radius: 10px;
  background-color: #EEE4DA;
  color: #776E65;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.result-container {
  text-align: center;
  margin: auto;
}

.result-text {
  font-size: 18px;
  color: #4CAF50;
  margin-top: 20px;
  display: block;
}

.highlight {
  color: #FF5722;
}

/* Added styles for score container and restart button */
.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Increased margin for better spacing */
}

.score-title {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#score {
  font-size: 25px;
}

#restart-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease; /* Added a smooth transition */
}

#restart-button:hover {
  background-color: #45a049; /* Darker color on hover */
}
